/* Nav */
.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  height: 10vh;
}

.website-title, .counselor-name{
  margin-left: 2vh;
  margin-right: 2vh;
}

.one-student-main {
  height: 90vh;
}

.home-button {
  justify-self: flex-end;
  height: 3vh;
}

/* Student Info */
.student-general-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2%;

  width: 25%;
}

.empty-div-left {
  width: 10%;
}

/* Create Form */
.flex-form{
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
}

.date {
  width: 40%;
}

.sumbit-form-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Daily Schedule */
.student-daily-schedule {
  height: 90%;
  width: 50%;
}

.student-schedule-top {
  display: flex;

  width: 99.8%;
  height: 5%;

  border: 2px solid black;
  margin-bottom: .5%;
}

.between-date-and-name{
  width: 33%;
}

.student-schedule-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;

  border: 1px solid black;

  height: 95%;
  width: 100%;
}

.grid-tile {
  display: flex;
  flex-direction: column;

  border: 1px solid black;
}

.behavior-plan-style{
  display: flex;
  justify-content: space-around;

  height: 40%;
  width: 100%;
}

.between-name-and-style {
  height: 40%;
}

.box-1-0, .box-1-1, .box-1-2, .box-1-3, .box-1-4, .box-1-5, .box-1-6, .box-1-7, .box-1-8, .box-1-9, .box-1-10, .box-1-11, .box-1-12, .box-1-13, .box-2-0, .box-2-1, .box-2-2, .box-2-3, .box-2-4, .box-2-5, .box-2-6, .box-2-7, .box-2-8, .box-2-9, .box-2-10, .box-2-11, .box-2-12, .box-2-13 {
  height: 100%;
  width: 20%;

  border: 1px solid black;
  border-radius: 5px;
}

.box-1-0, .box-1-1, .box-1-2, .box-1-3, .box-1-4, .box-1-5, .box-1-6, .box-1-7, .box-1-8, .box-1-9, .box-1-10, .box-1-11, .box-1-12, .box-1-13 {
  background-color: rgb(224, 233, 224);

  
}


.box-2-0, .box-2-1, .box-2-2, .box-2-3, .box-2-4, .box-2-5, .box-2-6, .box-2-7, .box-2-8, .box-2-9, .box-2-10, .box-2-11, .box-2-12, .box-2-13 {
  background-color: rgb(233, 223, 223);
}